<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Cards</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
          <a class="nav-link text-dark" [routerLink]="['/cards-list']">Cards</a>
        </ul>
      </div>
      <li *ngIf="authenticated" ngbDropdown placement="bottom-right" class="nav-item">
        <a ngbDropdownToggle id="userMenu" class="nav-link avatar-link" role="button" aria-haspopup="true"
          aria-expanded="false">
          <img src="{{user.avatar}}" class="rounded-circle align-self-center mr-2" style="width: 32px;">
        </a>
        <div ngbDropdownMenu aria-labelledby="userMenu" class="dropdown-menu-right">
          <h5 class="dropdown-item-text mb-0">{{user.displayName}}</h5>
          <p class="dropdown-item-text text-muted mb-0">{{user.email}}</p>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" role="button" (click)="signOut()">Sign Out</button>
        </div>
      </li>
    </div>
  </nav>
</header>
